<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-buttons>
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title>Order automation Home</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <article>
    <h1>Welcome to your order automation</h1>
    <p>On this page you can create sales orders. You can specify various parameters and information for creating the
      orders. By creating an order, a key is generated, which the customer needs to view the current status of an order.
    </p>
  </article>
</ion-content>
