<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-title>Order automation Account</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content class="account">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form>
        <ion-item lines="full">
          <ion-label position="floating">Username</ion-label>
          <ion-input type="text" required [(ngModel)]="username" name="username"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" required [(ngModel)]="password" name="password"></ion-input>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-button type="submit" color="primary" expand="block" (click)="login()">Sign Up</ion-button>
          </ion-col>
        </ion-row>
        <a routerLink="/account/reset">Forgot Password</a>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>

