<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-title>Order automation Account</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-card-input-layout">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="user" (ngSubmit)="login()" novalidate>
        <ion-item lines="full">
          <ion-label position="floating">Name</ion-label>
          <ion-input formControlName="name" type="text" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="user.controls.name.invalid">
              Name with min. lenght 1 is required.
         </span>
        <ion-item lines="full">
          <ion-label position="floating">Password</ion-label>
          <ion-input formControlName="password" type="password" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="user.controls.password.invalid">
             Password with min. lenght 1 is required.
         </span>

        <div style="text-align: center;">
          <ion-label *ngIf="!isLogin" color="danger">Wrong Username or Password</ion-label>
        </div>

        <ion-row>
          <ion-col>
            <ion-button type="submit" expand="block" [disabled]="user.invalid">
              <p *ngIf="!isLoading">Sign Up</p>
              <ion-spinner name="circular" *ngIf="isLoading"></ion-spinner>
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
      <!-- ToDo: Email-Server or any Contact Devoloper
      <a routerLink="/account/reset">Forgot Password</a>
      -->
    </ion-card-content>
  </ion-card>
</ion-content>

