<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-buttons>
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <div class="firm_text">
        <ion-label>Services Document</ion-label>
      </div>
      <ion-buttons slot="end">
        <ion-button href="/settings">
          <ion-icon name="settings-outline"></ion-icon>
        </ion-button>
        <ion-button href="/account/profile">
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1>Vehicle Registration Document</h1>
  <mat-label>File matInput</mat-label>
  <button mat-icon-button matPrefix (click)="f_input.click()">
    <mat-icon>attach_file</mat-icon>
  </button>
  <input type="text" readonly matInput/>
  <input
    type="file"
    multiple
    hidden
    #f_input
  />
</ion-content>
