.calendar_col {
  border-style: solid;
  height: 100%;
}
.calendar_col_not_current_month{
  border-style: solid;
  height: 100%;
  background-color: red;
}
.calendar_col_today {
  border: 5px solid #006581;
  height: 100%;
}

.calendar_selected_day{
  border-style: solid;
  height: 100%;
  background-color: #3d3c3c;
}
.calendar_selected_today{
  border: 5px solid #006581;
  height: 100%;
  background-color: #3d3c3c;
}

.calendar_row {
  height: 110px;
}

.calendar_col_week {
  border-style: solid;
  height: 100%;
}

.calendar_row_week {
  height: 550px;
}

.calendar_card_week {
  height: 600px
}

.calendar_card_week_name {
  height: 50px
}

.calendar_card_day {
  height: 800px;
}

.calendar_row_day {
  height: 32px;
  border-style: solid;
}

.calender_month_event_text {
  font-size: 12px;
  padding: 2px;
  color: #2c7ba1;
}
.calender_month_event_text:hover{
  background-color: #424141;
}
