<ion-header>
  <ion-toolbar>
    <ion-title class="firm_text">Upload Files</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Select multiple file</ion-label>
    <ion-input type="file" (change)="selectFileMultiple($event)" multiple></ion-input>
  </ion-item>
  <div>
    --------------------------------------------------------------
  </div>
  <ion-item>
    <ion-label>Select file</ion-label>
    <ion-input type="file" (change)="selectFile($event)"></ion-input>
  </ion-item>
  <div>
    --------------------------------------------------------------
  </div>
  <div *ngFor="let file of fileList">
    <p>{{file}}</p>
  </div>
  <ion-button expand="block" (click)="upload()">Upload</ion-button>
  <ion-button expand="block" (click)="uploadFiles()">UploadFiles</ion-button>
  <!--
  <label class="btn btn-default">
    <input type="file" (change)="selectFile($event)" />
  </label>
  <div *ngIf="currentFile" class="progress">
    <div
      class="progress-bar progress-bar-info progress-bar-striped"
      role="progressbar"
      attr.aria-valuenow="{{ progress }}"
      aria-valuemin="0"
      aria-valuemax="100"
      [ngStyle]="{ width: progress + '%' }"
    >
      {{ progress }}%
    </div>
  </div>

  <label class="btn btn-default">
    <input type="file" (change)="selectFile($event)" />
  </label>

  <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">
    Upload
  </button>

  <div class="alert alert-light" role="alert">{{ message }}</div>

  <div class="card">
    <div class="card-header">List of Files</div>
    <ul
      class="list-group list-group-flush"
      *ngFor="let file of fileInfos | async"
    >
      <li class="list-group-item">
        <a href="{{ file.url }}">{{ file.name }}</a>
      </li>
    </ul>
  </div>
  -->
</ion-content>
