/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  table{
    width: 100%;
    td{
      font-size: 25px;
    }
    tr{
      font-size: 25px;
    }
  }
}
