/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  table{
    width: 100%;
    td{
      font-size: 10px;
    }
    tr{
      font-size: 10px;
    }
  }
}
