<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-buttons>
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <div class="firm_text">
        <ion-label>Services</ion-label>
      </div>
      <ion-buttons slot="end">
        <ion-button href="/settings">
          <ion-icon name="settings-outline"></ion-icon>
        </ion-button>
        <ion-button href="/account/profile">
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-row>
        <ion-col>
          <ion-buttons>
            <ion-button (click)="back()">
              <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="editOrder()" *ngIf="isEditing">
              <ion-icon name="hammer-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="cancel()" *ngIf="!isEditing">
              <ion-icon name="close-circle-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="save()" *ngIf="!isEditing">
              <ion-icon name="save-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="delete()">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
        <ion-col>
          <ion-card-title class="ion-text-center">Customer Overview</ion-card-title>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="customerGroup" (ngSubmit)="save()">
        <!-- Firstname -->
        <ion-item lines="full">
          <ion-label position="floating">Firstname:</ion-label>
          <ion-input formControlName="firstName" type="text" required [disabled]="isEditing"></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="customerGroup.controls.firstName.invalid
        && customerGroup.controls.firstName.dirty">
              Name with min. lenght 1 is required.
         </span>
        <!-- Lastname -->
        <ion-item lines="full">
          <ion-label position="floating">Lastname:</ion-label>
          <ion-input formControlName="lastName" type="text" required [disabled]="isEditing"></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="customerGroup.controls.lastName.invalid
        && customerGroup.controls.lastName.dirty">
              Name with min. lenght 1 is required.
         </span>
        <!-- Email -->
        <ion-item lines="full">
          <ion-label position="floating">Email:</ion-label>
          <ion-input formControlName="email" type="text" required [disabled]="isEditing"></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="customerGroup.controls.email.invalid
        && customerGroup.controls.email.dirty">
              Please enter a valid email address.
         </span>
        <!-- City -->
        <ion-item lines="full">
          <ion-label position="floating">City:</ion-label>
          <ion-input formControlName="city" type="text" required [disabled]="isEditing"></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="customerGroup.controls.city.invalid
        && customerGroup.controls.city.dirty">
              Name with min. lenght 1 is required.
         </span>
        <!-- Street -->
        <ion-item lines="full">
          <ion-label position="floating">Street:</ion-label>
          <ion-input formControlName="street" type="text" required [disabled]="isEditing"></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="customerGroup.controls.street.invalid
        && customerGroup.controls.street.dirty">
             Test.
         </span>
        <!-- Postalcode -->
        <ion-item lines="full">
          <ion-label position="floating">PostalCode:</ion-label>
          <ion-input formControlName="postalCode" type="text" required [disabled]="isEditing"></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="customerGroup.controls.postalCode.invalid
        && customerGroup.controls.postalCode.dirty">
              Name with min. lenght 1 is required.
         </span>
        <!-- Callnumber -->
        <ion-item lines="full">
          <ion-label position="floating">Callnumber:</ion-label>
          <ion-input formControlName="callNumber" type="text" required [disabled]="isEditing"></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="customerGroup.controls.callNumber.invalid
        && customerGroup.controls.callNumber.dirty">
              Please enter a valid callnumber without  a +,- or / at the beginning for example 0208244112.
         </span>  <!-- Information -->
        <ion-item lines="full">
          <ion-label position="floating">Further Information:</ion-label>
          <ion-input formControlName="information" type="text" required [disabled]="isEditing"></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="customerGroup.controls.information.invalid
        && customerGroup.controls.information.dirty">
              Name with min. lenght 1 is required.
         </span>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
