<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-buttons>
        <ion-menu-button menu="main-menu" ></ion-menu-button>
      </ion-buttons>
      <ion-title>Show all Customers</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-button (click)="createCustomer()">Create Customer</ion-button>
    <ion-searchbar></ion-searchbar>
  </ion-item>
  <div fxLayout="row wrap" fxLayoutGap="30px">
    <ion-card *ngFor="let customer of customers">
      <ion-card-header>
        <ion-card-title>
          <ion-icon class="icon-header" name="person-circle-outline"></ion-icon>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>Name: {{customer.firstName}} {{customer.lastName}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Call Number: {{customer.callNumber}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
      <ion-row>
        <ion-col>
          <ion-button style="width: 100%">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button style="width: 100%">
            <ion-icon name="person-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>

