<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-buttons>
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title>Show all Customers</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let customer of customers">
    <ion-card-header>
      <ion-buttons>
        <ion-button style="border-style: solid" (click)="edit(customer.id)">Edit</ion-button>
        <ion-button style="border-style: solid" (click)="showOrders(customer.id)">Orders</ion-button>
        <ion-button style="border-style: solid" (click)="createOrders(customer.id)">Create Orders</ion-button>
      </ion-buttons>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Firstname: {{customer.firstName}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Lastname: {{customer.lastName}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Email: {{customer.email}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Adress: {{customer.street}} {{customer.town}} {{customer.postcode}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Call Number: {{customer.callNumber}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-textarea disabled="true">Information: {{customer.info}}</ion-textarea>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

