<h1>Create Car</h1>
<ion-accordion-group [multiple]="true" [value]="['first']">
  <ion-accordion value="first">
    <ion-item slot="header" color="light">
      <ion-label>Owner</ion-label>
    </ion-item>
    <ion-card slot="content">

    </ion-card>
  </ion-accordion>
  <ion-accordion value="second">
    <ion-item slot="header" color="light">
      <ion-label>Car-Settings</ion-label>
    </ion-item>
    <ion-card slot="content">

    </ion-card>
  </ion-accordion>
  <ion-accordion value="third">
    <ion-item slot="header" color="light">
      <ion-label>Further Information</ion-label>
    </ion-item>
    <ion-card slot="content">

    </ion-card>
  </ion-accordion>
</ion-accordion-group>
