<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-buttons>
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title>Create new customer</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label>Firstname:</ion-label>
        <ion-input [(ngModel)]="customer.firstName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Lastname: </ion-label>
        <ion-input [(ngModel)]="customer.lastName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Email: </ion-label>
        <ion-input [(ngModel)]="customer.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Adress: </ion-label>
        <ion-input [(ngModel)]="customer.street" placeholder="Street"></ion-input>
        <ion-input [(ngModel)]="customer.city" placeholder="City"></ion-input>
        <ion-input [(ngModel)]="customer.postalCode"placeholder="Postcode"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Call Number: </ion-label>
        <ion-input [(ngModel)]="customer.callNumber"></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea [(ngModel)]="customer.information">Information: </ion-textarea>
      </ion-item>
    </ion-list>
    <ion-button (click)="save()">Save</ion-button>
  </ion-card>
</ion-content>
