<ion-header>
  <ion-toolbar>
    <ion-title>Information</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-toolbar>
    <div class="ion-content-alert-text">
      <p>{{contentText}}</p>
    </div>
    <div class="ion-content-alert-buttons">
      <ion-row>
        <ion-col size="6">
          <ion-button expand="block" (click)="action(true)">Ok</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" (click)="action(true)">Cancel</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </ion-toolbar>
</ion-content>
